[submodule "core"]
	path = core
	url = https://github.com/kcaitech/vextra-core.git
[submodule "editor"]
	path = editor
	url = https://github.com/kcaitech/vextra-editor.git
[submodule "mcp"]
	path = mcp
	url = https://github.com/kcaitech/vextra-mcp.git
[submodule "agent"]
	path = agent
	url = https://github.com/kcaitech/vextra-agent.git
[submodule "main"]
	path = main
	url = https://github.com/kcaitech/vextra-main.git
[submodule "version-server"]
	path = version-server
	url = https://github.com/kcaitech/vextra-version-server.git
[submodule "coop"]
	path = coop
	url = https://github.com/kcaitech/vextra-coop.git
[submodule "server"]
	path = server
	url = https://github.com/kcaitech/vextra-server.git
[submodule "auth"]
	path = auth
	url = https://github.com/kcaitech/auth.git
[submodule "quickstart"]
	path = quickstart
	url = https://github.com/kcaitech/vextra-quickstart.git
